<div class="container">
  <div class="row">
    <div class="col-lg-1 col-md-1 col-sm-12 header-container__logo">
      <a href="/"
        ><div class="header-container__logo--icon">
          <img src="/assets/pictures/airbnb-red.png" alt="Airbnb logo" /></div
      ></a>
    </div>

    <div class="header-container__search col-lg-5 col-md-5 col-sm-12">
      <input type="text" value=<%= city %> >
    </div>

    <div class="header-container__options col-lg-6 col-md-6 col-sm-12">
      <div class="header-container__options--option anfitriao">
        <p>Torne-se um anfitrião</p>
      </div>
      <div class="header-container__options--option ajuda">
        <p>Ajuda</p>
      </div>
      <div class="header-container__options--option inscrever">
        <p>Inscreva-se</p>
      </div>
      <div class="header-container__options--option entrar">
        <p>Entre</p>
      </div>
    </div>
  </div>
</div>
