<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <title>Homes - Airbnb</title>

    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <meta name="description" content="Airbnb website" />

    <meta name="keywords" content="houses, renting, holiday, travel" />

    <meta name="author" content="Dharmite Prabhudas" />

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />


    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="/assets/style/search/header.css"
    />

    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
      integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
      crossorigin="anonymous"
    />

    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="/assets/style/general/fonts.css"
    />



    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="/assets/style/search/houses.css"
    />

    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="/assets/style/homes/homes.css"
    />
  </head>

  <body>
    <header>
      <div class="container">
        <div class="row">
          <div class="col-lg-1 col-md-1 col-sm-12 header-container__logo">
            <div class="header-container__logo--icon">
              <a href="/"><img src="/assets/pictures/airbnb-red.png" alt="Airbnb logo" /></a>
            </div>
          </div>

          <div class="header-container__search col-lg-5 col-md-5 col-sm-12">
            <input type="text" />
          </div>

          <div class="header-container__options col-lg-6 col-md-6 col-sm-12">
            <div class="header-container__options--option anfitriao">
              <p>Torne-se um anfitrião</p>
            </div>
            <div class="header-container__options--option ajuda">
              <p>Ajuda</p>
            </div>
            <div class="header-container__options--option inscrever">
              <p>Inscreva-se</p>
            </div>
            <div class="header-container__options--option entrar">
              <p>Entre</p>
            </div>
          </div>
        </div>
      </div>
    </header>

    <main>
      <div class="container" id="filters_container">
        <div class="row" id="filters">
          <p style="background-color: darkgreen;color: white">Cidade: <%= city %></p>
          </p>
        </div>
      </div>

      <div class="container" style="width: 82%;margin: auto;">
          <div class="airbnbStay__title"><h3>Onde ficar</h3></div>
        
          <div class="row">
            <p>We found no results for that query</p>
          </div>
        </div>

    </main>

    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
      integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
      integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
