<div class="container" style="width: 82%;margin: auto;">
        <div class="airbnbStay__title"><h3>Onde ficar</h3></div>

        <div class="row">
         <p>We found no results for that query</p>
        </div>
      </div>
